body {
    margin: 0;
    padding: 0;
}

.dashboard {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.sidebar-menu {
    margin-right: auto;
    padding: 20px;
    background: rgba(15, 17, 21, 0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    /*display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    align-items: center;
    align-self: flex-start;
    height: 100vh; 
    flex: 20%;
}

.sidebar-menu ul {
    padding: 10px;
    margin: 5px;
}

.sidebar-menu ul li{
    list-style-type: none;
    margin: 10px 10px;
}

.profile-info {
    position: absolute;
    bottom: 50px;
    align-self: flex-end;
    margin-top: 10px;
}

.main-content {
    flex: 80%;
    padding: 20px;
}

.top-section {
    align-self: flex-start;
}

.search-bar {
    display: inline-block;
    height: 30%;
    width: 80%;
}
