body {
    margin: 0;
    padding: 0;
}

.dashboard {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.sidebar-menu {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    height: 100vh;
    width: 20%;
}