* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Home {
    width: 100vw;
    height: 100vh;
}

.nav-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.body-section {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    justify-content: center;
    height: 50vh;
}

.body-header {
    text-align: center;
    font-size: 30px;
}

