.signup {
    display: flex;
    justify-content: center;
    max-width: 600px; /* testing */
    margin: auto;
}

.signup-container {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(15px); 
  border-radius: 15px;
  padding: 20px 30px;
  box-shadow: 0 0 20px black;
  /*color: #fff; */
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-align: center;
}

.signup-container h2 {
  margin-bottom: 2px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #f0f0f0;
}

/* Input fields */
.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
  width: 100%;
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: rgba(255, 255, 255, 0.9);
  font-size: 0.85rem;
  color: #333;
}

.signup-container label {
  align-self: flex-start;
  margin-left: 5px;
  font-size: 0.85rem;
  color: #f0f0f0;
}

.signup-btn {
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  background-color: #f0f0f0;
}

.signup-btn:hover {
  background-color: #c99312;
  color: black;
}